body {
  background-color: white;
}

header {
  display: flex;
  margin: 1% 20%;
  height: 150px;
  background-image: url("https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: top;
}


#website-name {
  display: flex;
  font-family: 'Courier Prime', monospace;
  align-items: center;
  font-size: 50px;
  color: black;
  margin-left: 5%;
  font-weight: 50;
}

.instructions {
  display: flex;
  font-family: 'Courier Prime', monospace;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: lighter;
  margin-left: 5%;
}

#inputContainer {
  display: flex;
  margin: 1% 20%;
  height: 115px;
  background-image: url("https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  align-items: center;  
}

.first {
  display: block;
  background-color: white;
  font-family: 'Courier Prime', monospace;
  color: rgb(82, 80, 80);
  font-size: 20px;
  margin-bottom: 5px;
  border-color: black;

}
  
.last {
  display: block;
  background-color: white;
  font-family: 'Courier Prime', monospace;
  color: rgb(82, 80, 80);
  font-size: 20px;
  border-color: black;
}

.submit_button {
  display: block;
  background-color: white;
  font-family: 'Courier Prime', monospace;
  color: black;
  font-size: 20px;
  margin-top: 5px;
  width: 251px;
  border-color: black;
}

#authorContainer {
  display: flex;
  margin: 1% 20%;
  height: 100px;
  background-image: url("https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  align-items: center;  
}

select {
  width: 40rem;
  height: 2rem;
  font-family: 'Courier Prime', monospace;
  font-size: 20px;
  border-color: black;
  background-color: white;
  color: rgb(82, 80, 80);
}

.buttonTwo {
  height: 2rem;
  font-family: 'Courier Prime', monospace;
  font-size: 20px;
  background-color: white;
  color: black;
  border-color: black;
}

.title-information {
  display: block;
  margin: 1% 20%;
  height: 330px;
  background-image: url("https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: bottom;
  justify-content: space-around;
  align-items: center;
}